{% extends "templates/base_page.html" %} {% block links %}
<ul class="nav navbar-nav">
	<li><a id="add-task" href="#" data-toggle="modal" data-target="#insert-task-modal">Add Task</a></li>
	<li><a id="add-list" href="#" data-toggle="modal" data-target="#insert-list-modal">Add List</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
	<li class="dropdown">
    	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-option-vertical"></span></a>
        <ul class="dropdown-menu">
        	{% if listKey %}
	        	<li> <a id="edit-list" href="#" data-toggle="modal" data-target="#insert-list-modal">Edit List</a></li>
	    		<li> <a id="delete-list" href="#" data-toggle="modal" data-target="#delete-list-modal">Delete List</a></li></li>
    		{% endif %}
   			<li><a href="{{ logout_url }}">Logout</a></li>
        </ul>
	</li>
</ul>
<div id="current-list-key" class="hidden">{{ listKey }}</div>
<div id="current-list-name" class="hidden">{{ list_name }}</div>
<div id="current-list-emails" class="hidden">{{ list_emails }}</div>
{% endblock %} {% block content %}
<h1 id="list_name">{{ list_name }} </h1>
<div class="container">
	<div class="table-wrapper">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Complete</th>
					<th>Name</th>
					<th>Due Date</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
				{% for task in tasks_query %}
				<tr>
					<td>
						<input type="checkbox" class= "task-completed-checkbox"name="completed-checkbox" value="completed" {% if task.is_complete %} checked {% endif %}>
						<div class="hidden entity-key checkbox-entity-key">{{ task.key.urlsafe() }}</div>
					</td>
					<td>{{ task.name }}</td>
					<td>{{ task.due_date_time }}</td>
					<td>{{ task.note }}</td>
					<td>
						<!-- Indicates a successful or positive action -->
						<button type="button" class="btn btn-success btn-xs edit-task" data-toggle="modal" data-target="#insert-task-modal">
							<span class="glyphicon glyphicon-pencil"></span>
							<div class="hidden entity-key">{{ task.key.urlsafe() }}</div>
							<div class="hidden is_complete">{{ task.is_complete }}</div>
							<div class="hidden name">{{ task.name }}</div>
							<div class="hidden due_date_time">{{ task.due_date_time }}</div>
							<div class="hidden note">{{ task.note }}</div>
							<div class="hidden comments">{{ task.comments }}</div>
						</button>
						<!-- Contextual button for informational alert messages -->
						<button type="button" class="btn btn-danger btn-xs delete-task" data-toggle="modal" data-target="#delete-task-modal">
							<span class="glyphicon glyphicon-remove"></span>
							<div class="hidden entity-key">{{ task.key.urlsafe() }}</div>
						</button>
					</td>
				</tr>
				{% endfor %}
				</ul>
			</tbody>
		</table>
	</div>
</div>

<!-- Insert Task Modal -->
<div class="modal fade" id="insert-task-modal" tabindex="-1" role="dialog" aria-labelledby="Insert Task">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add a Task</h4>
			</div>
			<form action="/inserttask" method="post" class="form-horizontal">
				<input type="text" name="entity_key" class="hidden">
				<input type="text" name="listKey" class="hidden" value="{{ listKey }}">
				<div class="modal-body">
					<div class="form-group">
						<label for="name-input" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name-input" name="name" placeholder="Name">
						</div>
					</div>
					<div class="form-group">
						<label for="due_date_time-input" class="col-sm-2 control-label">Due Date</label>
						<div class="col-sm-10">
							<input type="datetime-local" class="form-control" id="due_date_time-input" name="due_date_time" placeholder="Due Date">
						</div>
					</div>
					<div class="form-group">
						<label for="note-input" class="col-sm-2 control-label">Note</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="note-input" name="note" placeholder="Note">
						</div>
					</div>
					<div class="form-group">
						<label for="is_complete-input" class="col-sm-2 control-label">Completed</label>
						<div class="col-sm-10">
							<input type="checkbox" class="form-control" id="checkbox-input" name="is_complete">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add Task</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Delete Task Modal -->
<div class="modal fade" id="delete-task-modal" tabindex="-1" role="dialog" aria-labelledby="Delete Task">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Delete this Task</h4>
			</div>
			<form action="/deletetask" method="post" class="form-horizontal">
				<input type="text" name="entity_key" class="hidden">
				<div class="modal-body">
					<p>Are you sure you'd like to delete this task?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete Task</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Insert List Modal -->
<div class="modal fade" id="insert-list-modal" tabindex="-1" role="dialog" aria-labelledby="Insert List">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Add a List</h4>
			</div>
			<form action="/insertlist" method="post" class="form-horizontal">
				<input type="text" name="listKey" id="modal-list-key" class="hidden" value="{{ listKey }}">
				<input type="text" name="entity_key" class="hidden">
				<div class="modal-body">
					<div class="form-group">
						<label for="name-input" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name-input" name="name" placeholder="Name">
						</div>
					</div>
					<div class="form-group">
						<label for="shared-input" class="col-sm-2 control-label">Share with</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="shared-input" name="shared" placeholder="test@example.com, hello@world.com">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Add List</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Delete List Modal -->
<div class="modal fade" id="delete-list-modal" tabindex="-1" role="dialog" aria-labelledby="Delete List">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Delete this List</h4>
			</div>
			<form action="/deletelist" method="post" class="form-horizontal">
				<input type="text" name="entity_key" class="hidden">
				<div class="modal-body">
					<p>Are you sure you'd like to delete this list?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-danger">Delete List</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Task Detail Modal -->
<div class="modal fade" id="task-detail-modal" tabindex="-1" role="dialog" aria-labelledby="Task Detail">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Task Details</h4>
			</div>
			<form action="/postcomment" method="post" class="form-horizontal">
				<input type="text" name="task-key" class="hidden">
				<div class="modal-body">
					<div class="form-group">
						<label for="name-input" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="name-input" name="name">
						</div>
					</div>
					<div class="form-group">
						<label for="due_date_time-input" class="col-sm-2 control-label">Due Date</label>
						<div class="col-sm-10">
							<input type="datetime-local" class="form-control" id="due_date_time-input" name="due_date_time">
						</div>
					</div>
					<div class="form-group">
						<label for="note-input" class="col-sm-2 control-label">Note</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="note-input" name="note">
						</div>
					</div>
					<div class="form-group">
						<label for="is_complete-input" class="col-sm-2 control-label">Completed</label>
						<div class="col-sm-10">
							<input type="checkbox" class="form-control" id="checkbox-input" name="is_complete">
						</div>
					</div>
					<div class="form-group">
						<label for="comments-label" class="col-sm-2 control-label">Comments</label>
						<div>
							<textarea id="comments-box"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="comment-input" class="col-sm-2 control-label">New Comment</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="comment-input" name="comment" placeholder="New Comment">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Post Comment</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
